doctype html
html(lang="en")
    meta(charset="UTF-8")
    block head
      title Demo
    
    block styles
      link(rel="stylesheet", href="/assets/css/main.css")

    block scripts
      script(src="/assets/js/vendor.js")
      
  block body      
    include ./body
